/Altsource/Altsource/obj
/Altsource/Altsource/bin
/Altsource/.vs/Altsource/DesignTimeBuild/.dtbcache.v2
/Altsource/.vs/Altsource/config/applicationhost.config
/Altsource/.vs/Altsource/v16/.suo
/Altsource/.vs/Altsource/v16/TestStore/0/000.testlog
/Altsource/.vs/Altsource/v16/TestStore/0/testlog.manifest
